*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-image: url(porsche.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container{
    width: 100%;
    text-align: center;
    color: white;

}
#clock{
    font-size:6.5rem;
    font-family: monospace;
    font-weight: bold;
    color:white;
    /* backdrop-filter: blur(15px); */
    margin-top:20vh;
}
h1{
    margin-top: 5vh;
}
footer{
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
